@CHARSET "UTF-8";

.tree-items .tree-items {
	margin-left:3em;
	clear:both;
}

.tree-item,
.tree-item > .tree-collapse.tree-icon {
	background-image:url("d.png"); 
	background-repeat:no-repeat; 
	background-color:transparent;
	 
}

.tree-item .tree-collapse {
	cursor: pointer;
}


.tree-item > .tree-collapse.tree-icon {
  float:left;	
  width: 15px;
  height: 15px;
}

.tree-item {
	background-position:-90px 0; background-repeat:repeat-y;
	margin-bottom: -1px;	  	
}

.tree-item > .tree-inner {
	margin-left:20px;	
}


.tree-item.tree-loading > .tree-collapse.tree-icon {
   background:url("throbber.gif") top left no-repeat !important;
   z-index:10; 	
}

.tree-item.tree-loaded {

	
}

.tree-item.tree-leaf > .tree-collapse.tree-icon {
	background-position:-36px 0;	 	
}

.tree-item.tree-opened  > .tree-collapse.tree-icon{
	background-position:-72px 0; 	
}

.tree-item.tree-closed  > .tree-collapse.tree-icon{
   background-position:-54px 0; 	
}

.tree-item.tree-last{
   background:transparent; 	 	
}

